<!-- Customer form { fullname, email[], phone[]} -->
<form
  action=""
  [formGroup]="createContactForm"
  style="
    display: flex;
    flex-direction: column;
    padding: 10%;
    gap: 15px;
    padding-top: 25px;
  "
>
  <h1>Contatos</h1>
  <mat-form-field appearance="outline">
    <mat-label>Nome completo</mat-label>
    <input
      matInput
      required=""
      placeholder="Nome completo"
      formControlName="fullname"
    />
    <!-- required error -->
    @if(createContactForm.get('fullname')?.hasError('required') &&
    createContactForm.get('fullname')?.touched){
    <mat-error>Campo obrigatório</mat-error>
    }
    <!-- min 3 char error -->
    @if(createContactForm.get('fullname')?.hasError('minlength') &&
    createContactForm.get('fullname')?.touched){
    <mat-error>Mínimo de 3 caracteres</mat-error>
    }
  </mat-form-field>
  <div
    formArrayName="emails"
    style="
      background-color: rgb(249, 248, 250);
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #ccc;
      gap: 15px;
    "
  >
    <div style="display: flex; gap: 15px; padding-bottom: 10px">
      <h2>E-mails</h2>
      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addEmail()"
      >
        <mat-icon> add </mat-icon>
        Adicionar Email
      </button>
    </div>

    <div *ngFor="let emailControl of emails.controls; let i = index">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" [formControlName]="i" />
        <mat-error *ngIf="emailControl.hasError('required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('email')">
          E-mail inválido
        </mat-error>
      </mat-form-field>
      <button
        mat-button
        type="button"
        style="margin-left: 20px"
        (click)="emails.removeAt(i)"
      >
        <mat-icon> delete </mat-icon>
        Remover
      </button>
    </div>
  </div>
  <div
    formArrayName="phones"
    style="
      background-color: rgb(249, 248, 250);
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #ccc;
      gap: 15px;
    "
  >
    <div style="display: flex; gap: 15px; padding-bottom: 10px">
      <h2>Telefones</h2>
      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="addPhone()"
      >
        <mat-icon> add </mat-icon>
        Adicionar Telefone
      </button>
    </div>
    <div *ngFor="let phone of phones.controls; let i = index">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Telefone" [formControlName]="i" />
        <mat-error *ngIf="phone.hasError('required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="phone.hasError('minlength')">
          Telefone inválido
        </mat-error>
      </mat-form-field>
      <button
        mat-button
        type="button"
        style="margin-left: 20px"
        (click)="phones.removeAt(i)"
      >
        <mat-icon> delete </mat-icon>
        Remover
      </button>
    </div>
  </div>
  <!-- Submit button -->
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      createContactForm.get('fullname')?.invalid ||
      createContactForm.get('email')?.invalid ||
      createContactForm.get('phone')?.invalid
    "
    (click)="onSubmit()"
  >
    Salvar
  </button>
</form>
