<div>
  <!-- Customer form { fullname, email[], phone[]} -->
  <form
    action=""
    [formGroup]="createCustomerForm"
    style="display: flex; flex-direction: column; padding: 10%; gap: 5px"
  >
    <h1>Customer</h1>
    <mat-form-field appearance="fill">
      <mat-label>Nome completo</mat-label>
      <input
        matInput
        required=""
        placeholder="Nome completo"
        formControlName="fullname"
      />
      <!-- required error -->
      @if(createCustomerForm.get('fullname')?.hasError('required') &&
      createCustomerForm.get('fullname')?.touched){
      <mat-error>Campo obrigatório</mat-error>
      }
      <!-- min 3 char error -->
      @if(createCustomerForm.get('fullname')?.hasError('minlength') &&
      createCustomerForm.get('fullname')?.touched){
      <mat-error>Mínimo de 3 caracteres</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="E-mail"
        formControlName="email"
        required=""
      />
      <!-- required error -->
      @if(createCustomerForm.get('email')?.hasError('required') &&
      createCustomerForm.get('email')?.touched){
      <mat-error>Campo obrigatório</mat-error>
      }
      <!-- email error -->
      @if(createCustomerForm.get('email')?.hasError('email') &&
      createCustomerForm.get('email')?.touched){
      <mat-error>E-mail inválido</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        required=""
        placeholder="Telefone"
        formControlName="phone"
      />
      <!-- required error -->
      @if(createCustomerForm.get('phone')?.hasError('required') &&
      createCustomerForm.get('phone')?.touched){
      <mat-error>Campo obrigatório</mat-error>
      }
      <!-- phone error -->
      @if(createCustomerForm.get('phone')?.hasError('phone') &&
      createCustomerForm.get('phone')?.touched){
      <mat-error>Telefone inválido</mat-error>
      }
    </mat-form-field>
    <!-- display form errors -->
    @if { createCustomerForm.errors ?
    <mat-error>Formulário inválido</mat-error> : null }
    <!-- Submit button -->
    <button
      mat-raised-button
      color="primary"
      [disabled]="!createCustomerForm.valid"
      (click)="onSubmit()"
    >
      Salvar
    </button>
  </form>
</div>
