<div style="max-height: 100%">
  <mat-toolbar color="primary">
    <mat-toolbar-row
      style="
        display: flex;
        gap: 10px;
        padding: 10px;
        color: white;
        justify-content: space-around;
        align-items: center;
      "
    >
      <span>Controle de clientes</span>
      <a
        routerLink="/customers"
        style="text-decoration: none; color: white; border-radius: 5px"
        >Clientes</a
      >
      <a routerLink="/new-customer" style="color: white; border-radius: 5px"
        >Registrar Cliente</a
      >
      <mat-icon>menu</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
