<!-- Customer list -->
<div style="padding: 10%; padding-top: 25px">
  <h1>Contatos</h1>
  <table
    mat-table
    [dataSource]="contacts"
    class="mat-elevation-z8"
    style="border-radius: 20px"
  >
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef>Nome completo</th>
      <td mat-cell *matCellDef="let element" (click)="onSelect(element.id)">
        {{ element.fullname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="emails">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.emails.length }}</td>
    </ng-container>
    <ng-container matColumnDef="phones">
      <th mat-header-cell *matHeaderCellDef>Telefone</th>
      <td mat-cell *matCellDef="let element">{{ element.phones.length }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="onDelete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="onSelect(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="new-contact">
      <th mat-header-cell *matHeaderCellDef>Novo Contato</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="white" (click)="onCreateContact(element.id)">
          <mat-icon> add </mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
